#**
	Copyright 2016-2018 Research group REMEX, Hochschule der Medien (Stuttgart, Germany)
	
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
	
	    http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
*#



#individualPageTitle("WEB_CONCEPTS_CONCEPT_LOG_PAGE_TITLE")
#parse("/velocity/loggedInLayout.vm")
#@mainLayout()
<script src="/js/concepts/conceptLog.js" type="text/javascript"></script>
#infoAndErrorMessage()
<div class="table-wrapper">
	#if($logs && $logs.isEmpty() == false)
		<table>
			<thead>
				<tr>
					<th>$lh.getWord("WEB_CONCEPTS_CONCEPT_LOG_PAGE_COLUMN_NAME_USER")</th>
					<th>$lh.getWord("WEB_CONCEPTS_CONCEPT_LOG_PAGE_COLUMN_NAME_TIME_STAMP")</th>
					<th>$lh.getWord("WEB_CONCEPTS_CONCEPT_LOG_PAGE_COLUMN_NAME_ACTION")</th>
					<th>$lh.getWord("WEB_CONCEPTS_CONCEPT_LOG_PAGE_COLUMN_NAME_SUCCESS")</th>
					<th>$lh.getWord("WEB_CONCEPTS_CONCEPT_LOG_PAGE_COLUMN_NAME_NOTE")</th>
				</tr>
				<tbody>
					#set($noteIdCounter = 0)
					#foreach($log in $logs)
						<tr>
							#if($log.getUserId() == -1)
								<td>-</td>
							#else
								#if($user.isSuperAdmin())
									<td><a href="/web/loggedIn/users/edit?userId=$log.getUserId()">$usersMap.get($log.getUserId()).getUserName()</a></td>
								#else
									<td>$usersMap.get($log.getUserId()).getUserName()</td>
								#end
							#end
							<td>$log.getDateTimeStampAsUTCString()</td>
							<td>$log.getAction()</td>
							<td>$log.isSuccess()</td>
							#if($log.getNote())
								#if($log.isNoteJson())
									<td><pre id="note$noteIdCounter"></pre></td>
									<script type="text/javascript">insertFormattedNote($log.getNote(), "note$noteIdCounter")</script>
									#set($noteIdCounter = ($noteIdCounter + 1))
								#else
									<td>$log.getNote()</td>
								#end
							#else
								<td></td>
							#end
						</tr>
					#end
				</tbody>
			</thead>
		</table>
	#else
		<b><font>$lh.getWord("WEB_CONCEPTS_CONCEPT_LOG_PAGE_MESSAGE_NO_LOGS")</font></b>
	#end
</div>
#end