#individualPageTitle("WEB_FORGOT_PASSWORD_PAGE_TITLE")
#parse("/velocity/notLoggedInLayout.vm")
#@notLoggedInLayout()
<header class="main">
	<h1>$lh.getWord("WEB_FORGOT_PASSWORD_PAGE_HEADING")</h1>
</header>
#infoAndErrorMessage()
#if($requestedNewPassword)
	<p>$lh.getWord("WEB_FORGOT_PASSWORD_PAGE_GUIDE_PART_2")</p>
#else
	<p>$lh.getWord("WEB_FORGOT_PASSWORD_PAGE_GUIDE_PART_1")</p>
	<form id="resetPasswordForm" method="post">
	    <label>$lh.getWord("WEB_FORGOT_PASSWORD_PAGE_LABEL_USER_NAME_OR_MAIL_ADDRESS")</label>
	    #if($userNameIsUnknown)
	    	<b><font color="red">$lh.getWord("WEB_FORGOT_PASSWORD_PAGE_ERROR_MESSAGE_UNKNOWN_USER_NAME")</font></b>
	    #end
	    #if($userName)
	    	<input type="text" name="userNameOrMailAddress" value="$userName" required>
	    #else
	   		<input type="text" name="userNameOrMailAddress" placeholder="$lh.getWord("WEB_FORGOT_PASSWORD_PAGE_PLACEHOLDER_USER_NAME_OR_MAIL_ADDRESS")" value="" required>
	    #end
	    </p>
	    <input type="submit" value=$lh.getWord("WEB_FORGOT_PASSWORD_PAGE_SUBMIT_BUTTON_TEXT")>
	</form>
#end
#end