#**
 Copyright 2016-2018 Research group REMEX, Hochschule der Medien (Stuttgart, Germany)

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 *#



#individualPageTitle("WEB_LOGIN_PAGE_TITLE")
#parse("/velocity/notLoggedInLayout.vm")
#@notLoggedInLayout()
#**<div class="inner">
<section>*#
<div class="row gtr-200">

	<div class="col-6 col-12-medium align-col-md">
		<header class="main">
			<h1>$lh.getWord("WEB_LOGIN_PAGE_HEADING")</h1>
		</header>
		#infoAndErrorMessage()
		<form id="loginForm" method="post" action="/web/login/">
		
			#if($userIsLockedMessage)
				<b><font color="red">$userIsLockedMessage</font></b>
			#end
		
			<label>$lh.getWord("WEB_LOGIN_PAGE_LABEL_USER_NAME")</label>
			#if($authenticationFailed)
				#if($userNameIsUnknown)
					<b><font color="red">$lh.getWord("WEB_LOGIN_PAGE_AUTHENTICATION_FAILED_UNKNOWN_USER_NAME")</font></b>
					<input type="text" name="userName" placeholder="$lh.getWord("WEB_LOGIN_PAGE_PLACEHOLDER_USER_NAME")" value="" required>
				#end
				#if(!$userNameIsUnknown)
		
					<input type="text" name="userName" value="$userName" required>
				#end
				#if($missingUserNameMessage)
					<b><font color="red">$missingUserNameMessage</font></b>
					<input type="text" name="userName" placeholder="$lh.getWord("WEB_LOGIN_PAGE_PLACEHOLDER_USER_NAME")" value="" required>
				#end
			#else
				<input type="text" name="userName" placeholder="$lh.getWord("WEB_LOGIN_PAGE_PLACEHOLDER_USER_NAME")" value="" required>
			#end
			</p>
		
			<label>$lh.getWord("WEB_LOGIN_PAGE_LABEL_PASSWORD")</label>
			#if($authenticationFailed)
				#if($passwordInvalid)
					<b><font color="red">$lh.getWord("WEB_LOGIN_PAGE_AUTHENTICATION_FAILED_INVALID_PASSWORD")</font></b>
				#end
				#if($missingPasswordMessage)
					<b><font color="red">$missingPasswordMessage</font></b>
				#end
			#end
			<input type="password" name="password" placeholder="$lh.getWord("WEB_LOGIN_PAGE_PLACEHOLDER_PASSWORD")" value="" required>
			</p>

			<p>
			#if($userName)
				<a href="/web/forgotPassword/?userName=$userName">$lh.getWord("WEB_LOGIN_PAGE_LINK_NAME_FORGOT_PASSWORD")</a>
			#else
				<a href="/web/forgotPassword/">$lh.getWord("WEB_LOGIN_PAGE_LINK_NAME_FORGOT_PASSWORD")</a>
			#end
			</p>
		
			<input type="submit" value="$lh.getWord("WEB_LOGIN_PAGE_SUBMIT_BUTTON_TEXT")">
		</form>
	</div>
	
	<div class="col-6 col-12-medium align-col-md">
		<header class="main">
			<h1>$lh.getWord("WEB_START_PAGE_PUBLIC_CONCEPTS_HEADING")</h1>
		</header>
		
		<p>
		$lh.getWord("WEB_START_PAGE_PUBLIC_CONCEPTS_EXPLANATION")
		</p>
		#**<p>Test</p>*#
		
		<form class="align-bottom-md" action="/web/concepts/allConceptsPublic/">
		    <input type="submit" value="$lh.getWord("WEB_START_PAGE_PUBLIC_CONCEPTS_LINK_BUTTON")" />
		</form>
	</div>

</div>

#**</section>
</div>*#

#end
