#individualPageTitle("WEB_RESET_PASSWORD_PAGE_TITLE")
#parse("/velocity/notLoggedInLayout.vm")
#@notLoggedInLayout()
<header class="main">
	<h1>$lh.getWord("WEB_RESET_PASSWORD_PAGE_HEADING")</h1>
</header>
#infoAndErrorMessage()
#if($resetPasswordLinkIsValid)
	<p>$lh.getWord("WEB_RESET_PASSWORD_PAGE_GUIDE_PART_1")</p>
	<form id="resetPasswordForm" method="post">
	    <label>$lh.getWord("WEB_RESET_PASSWORD_PAGE_LABEL_PASSWORD_1")</label>
	    #if($newPasswordProblemMessage)
	    	<b><font color="red">$newPasswordProblemMessage</font></b>
	    #end
	    <input type="password" name="password1" placeholder="$lh.getWord("WEB_RESET_PASSWORD_PAGE_PLACEHOLDER_PASSWORD_1")" value="" required>
	    </p>
	    <label>$lh.getWord("WEB_RESET_PASSWORD_PAGE_LABEL_PASSWORD_2")</label>
	    #if($newPasswordProblemMessage)
	    	<b><font color="red">$newPasswordProblemMessage</font></b>
	    #end
	    <input type="password" name="password2" placeholder="$lh.getWord("WEB_RESET_PASSWORD_PAGE_PLACEHOLDER_PASSWORD_2")" value="" required>
	    </p>
	    <input type="submit" value="$lh.getWord("WEB_RESET_PASSWORD_PAGE_SUBMIT_BUTTON_TEXT")">
	</form>
#end

#end