#individualPageTitle("WEB_RESET_PASSWORD_PAGE_TITLE")
#parse("/velocity/notLoggedInLayout.vm")
#@notLoggedInLayout()
<header class="main">
	<h1>$lh.getWord("WEB_RESET_PASSWORD_PAGE_HEADING")</h1>
</header>
<b><font>$lh.getWord("WEB_RESET_PASSWORD_PAGE_SUCCESS_MESSAGE")</font></b>
<p>$lh.getWord("WEB_RESET_PASSWORD_PAGE_GUIDE_PART_2")</p>
<a href="login">$lh.getWord("WEB_RESET_PASSWORD_PAGE_LINK_NAME")</a>
#end