#macro(notLoggedInLayout)
<!DOCTYPE HTML>
<!--
	Adapted from:
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		#if($individualPageTitle)
			<title>$individualPageTitle - $lh.getWord("WEB_PAGE_TITLE_COMMON")</title>
		#else
			<title>$lh.getWord("WEB_PAGE_TITLE_COMMON")</title>
		#end
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Header -->
					<header id="header">
						<a href="/web/login/" class="logo"><strong>$lh.getWord("WEB_COMMON_HEADING_PART_1")</strong> $lh.getWord("WEB_COMMON_HEADING_PART_2")</a>
					</header>
					<!-- Content -->
					<section>
						$bodyContent	
						<hr class="major" />
						<center>
							<!-- Footer -->
							#copyright()
						</center>
					</section>
				</div>
			</div>
		</div>
	<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="/assets/js/main.js"></script>
	</body>
	
</html>
#end