#**
	Copyright 2016-2018 Research group REMEX, Hochschule der Medien (Stuttgart, Germany)

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	    http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
*#



#macro(notLoggedInLayout)
<!DOCTYPE HTML>
<!--
	Adapted from:
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		#if($individualPageTitle)
			<title>$individualPageTitle - $lh.getWord("WEB_PAGE_TITLE_COMMON")</title>
		#else
			<title>$lh.getWord("WEB_PAGE_TITLE_COMMON")</title>
		#end
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link href="/assets/css/remex-cookies.min.css" rel="stylesheet"/>
		<link href="/assets/css/custom.css" rel="stylesheet"/>
	</head>
	<body>
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Main -->
			<div id="main">
				<div class="inner">
					<!-- Header -->
					<header id="header">
						<a href="/web/login/" class="logo"><strong>$lh.getWord("WEB_COMMON_HEADING_PART_1")</strong> $lh.getWord("WEB_COMMON_HEADING_PART_2")</a>
					</header>
					<!-- Content -->
					<section>
						$bodyContent
						<hr class="major" />
						<center>
							<!-- Footer -->
							#copyright()
						</center>
					</section>
				</div>
			</div>
		</div>
	    <!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
		<script src="/js/concepts/barrierFreeSidebar.js"></script>
		<script src="/assets/js/remex-cookies.min.js"></script>
		<script>remex_cookies_setLanguage('en');</script>
	</body>

</html>
#end